@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background-color: rgb(138, 231, 234);
}

h1 {
text-align: initial;
border: 10px; 

}

h1 {
    display: flex;
justify-content: center;
align-items: center;
}



